<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="css/layout.css"/>
        <link rel="stylesheet" href="css/custom/layout.css"/>

        <link rel="stylesheet" href="css/colours.css"/>
        <link rel="stylesheet" href="css/custom/colours.css"/>

        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/custom/styles.css"/>


        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ app_name }} | {{ t.get("about/title") }}</title>
    </head>
    <body style="width: min(800px, 100%);">
        <header id="header">
            <h1 id="title">{{ t.get("about/title") }}</h1>
            <a href="../">{{ t.get("main-page") }}</a>
        </header>
        <div id="about" class="ui-frame flex-column">
            {{ t.get("about/about") }}
        </div>

        <footer>
            <a href="https://github.com/dexgs/transpo2">{{ t.get("source-code") }}</a> (AGPLv3)
            {{ t.get("copyright-year") }} {{ t.get("copyright") }}
        </footer>
    </body>
</html>
