<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>{{ app_name }} | {{ t.get("download/title") }}</title>

<noscript>
<style>
center.flex-no-expand {
    width: 470px;
}
</style>
</noscript>
    </head>
    <body>
        <header id="header">
            <h1 id="title">{{ t.get("download/title") }}</h1>
            <a href="../">{{ t.get("main-page") }}</a>
        </header>
        <div class="ui-frame flex-column">
            <form id="download-form" class="flex-column" action="../{{ file_id }}/dl" method="get" enctype="application/x-www-form-urlencoded" autocomplete="off">
                <noscript class="flex-column">
                    <div class="nojs-warning flex-row">
                        <span class="flex-no-expand small-text">
                            {{ t.get("download/nojs-warning") }}
                        </span>
                    </div>
                    <div class="flex-row">
                        <label for="key-input">{{ t.get("download/decryption-key") }} </label>
                        <input id="key-input" name="key" type="text"/>
                    </div>
                    <hr/>
                </noscript>

                {% if has_password %}
                {% include "download_password.html" %}
                <hr/>
                {% endif %}

                <button id="download-button">{{ t.get("download/download") }}</button>
            </form>
        </div>


        <script>
            const appName = "{{ app_name }}";
        </script>

        <script type="module" src="js/transpo/download.js"></script>
        <script src="js/download.js"></script>
    </body>
</html>
