<dialog id="file-size-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/file-size-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>

<dialog id="quota-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/quota-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>

<dialog id="network-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/network-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>

<dialog id="server-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/server-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>

<dialog id="protocol-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/protocol-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>

<dialog id="unknown-error" class="error ui-frame">
    <div class="flex-column">
        {{ t.get("upload-error/unknown-error") }}
        {% include "dialog_dismiss.html" %}
    </div>
</dialog>
