<!DOCTYPE html>
<html>
    <head>
        <base href="{{ path_prefix }}"/>
        {% include "head.html" %}
        <title>{{ app_name }} | {{ t.get("error/title") }} {{ error_code }}</title>
    </head>
    <body style="max-width: 420px">
        <header id="header">
            <h1 id="title">{{ t.get("error/title") }} {{ error_code }}</h1>
        </header>
        <div class="ui-frame flex-column">
            {% match error_code %}
                {% when 404 %}
                    {{ t.get("error/404") }}
                {% when 400 %}
                    {{ t.get("error/400") }}
                {% when _ %}
                    {{ t.get("error/fallback") }}
            {% endmatch %}
        </div>
    </body>
</html>
