<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="css/layout.css"/>
        <link rel="stylesheet" href="css/custom/layout.css"/>

        <link rel="stylesheet" href="css/colours.css"/>
        <link rel="stylesheet" href="css/custom/colours.css"/>

        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/custom/styles.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ app_name }}</title>

<style>
body {
    width: min(800px, 100% - 10px);
}
</style>

<noscript>
<style>
body {
    width: -moz-fit-content;
    width: fit-content;
}
div#file-list-container, div#file-area-footer, div#uploaded-area {
    display: none;
}
fieldset.togglable-field div {
    height: 30px;
    visibility: visible;
    opacity: 100%;
}
input#file-input {
    width: 300px;
}
</style>
</noscript>

    </head>

    <body>
        <header id="header">
            <h1 id="title">{{ app_name }}</h1>
            <a href="about">{{ t.get("index/about") }}</a>

            {% if lang_names.len() > 1 %}
            <form id="language-select-form">
                <label for="language-select">{{ t.get("index/language-select") }}</label>
                <select name="lang" id="language-select">
                {% for (lang, name) in lang_names %}
                    <option value="{{lang}}" {% if lang == selected_lang %}selected{% endif %}>{{name}}</option>
                {% endfor %}
                </select>

                <noscript>
                    <input type="submit"/>
                </noscript>
            </form>
            {% endif %}
        </header>
        <div id="transpo-main" class="ui-frame">
            <form id="upload-form" class="flex-column" action="upload" method="post" enctype="multipart/form-data" autocomplete="off">
                <noscript>
                    <div class="nojs-warning flex-row">
                        <span class="flex-no-expand small-text">
                            {{ t.get("index/nojs-warning") }}
                        </span>
                    </div>

                    <div class="hidden" aria-hidden="true" hidden>
                        <input name="server-side-processing" id="server-side-processing-input" type="checkbox" checked/>
                    </div>
                </noscript>

                <div id="file-area" class="flex-column">
                    <noscript>
                        <span>
                            <input name="enable-multiple-files" id="enable-multiple-files-input" type="checkbox"/>
                            <label for="enable-multiple-files-input">
                                {{ t.get("index/enable-multiple-files") }}
                            </label>
                        </span>
                    </noscript>

                    <div class="flex-row">
                        <h2>{{ t.get("index/select-files") }}</h2>
                        <input name="files" id="file-input" type="file" multiple/>
                    </div>

                    <div id="file-list-container">
                        <ul id="file-list"></ul>
                    </div>

                    <div id="file-area-footer" class="flex-row" style="visibility: hidden;" hidden>
                        <span>
                            {{ t.get("index/upload-size") }}
                            <output id="upload-size-output"></output>
                        </span>
                        <button type="button" id="clear-files-button">
                            {{ t.get("index/remove-all-files") }}
                        </button>
                    </div>
                </div>

                <h2>{{ t.get("index/upload-settings") }}</h2>

                <fieldset id="time-limit-fields">
                    <legend>
                        {{ t.get("index/expire-after") }}
                    </legend>
                    <div>
                        <label for="days-input">{{ t.get("index/days") }}</label>
                        <input name="days" id="days-input" type="number" size="5" value="0" min="0" max="{{ max_days }}"/>
                    </div>
                    <div>
                        <label for="hours-input">{{ t.get("index/hours") }}</label>
                        <input name="hours" id="hours-input" type="number" size="4" value="0" min="0" max="{{ max_hours }}"/>
                    </div>
                    <div>
                        <label for="minutes-input">{{ t.get("index/minutes") }}</label>
                        <input name="minutes" id="minutes-input" type="number" size="4" value="30" min="0" max="{{ max_minutes }}"/>
                    </div>
                </fieldset>

                <hr/>

                <fieldset class="togglable-field">
                    <legend class="hidden">{{ t.get("index/download-limit-settings") }}</legend>
                    <input name="enable-max-downloads" id="enable-max-downloads-input" type="checkbox"/>
                    <label for="enable-max-downloads-input">
                        {{ t.get("index/enable-download-limit") }}
                    </label>
                    <div>
                        <label for="max-downloads">
                            {{ t.get("index/expire-after") }}
                        </label>
                        <input name="max-downloads" id="max-downloads-input" type="number" size="5" value="1" min="1"/>
                        <span>{{ t.get("index/downloads") }}</span>
                    </div>
                </fieldset>

                <hr/>

                <fieldset class="togglable-field">
                    <legend class="hidden">
                        {{ t.get("index/password-protection-settings") }}
                    </legend>
                    <input name="enable-password" id="enable-password-input" type="checkbox">
                    <label for="enable-password-input">
                        {{ t.get("index/enable-password-protection") }}
                    </label>
                    <div>
                        <label for="password-input">
                            {{ t.get("index/password") }}
                        </label>
                        <input name="password" id="password-input" type="text"/>
                    </div>
                </fieldset>

                <hr/>

                <button id="upload-button">{{ t.get("index/upload") }}</button>
            </form>

            <div id="uploaded-area">
                <h2>{{ t.get("index/your-uploads") }}</h2>
                <div id="uploaded-list-container">
                    <ul id="uploaded-list"></ul>
                </div>
            </div>
        </div>

        <footer>
            <a href="https://github.com/dexgs/transpo2">{{ t.get("source-code") }}</a> (AGPLv3)
            © 2023 {{ t.get("copyright") }}
        </footer>


        <template id="file-list-item-template" style="display: none;">
            <li data-index="">
                <span class="hidden">{{ t.get("index/file-name") }}</span>
                <span class="file-list-item-name flex-no-expand"></span>
                <span class="hidden">, {{ t.get("index/file-size") }}</span>
                <span class="file-list-item-size"></span>
                <button type="button" class="file-list-item-remove">
                    <span class="hidden">{{ t.get("index/remove-file") }} </span><span aria-hidden="true">×</span>
                </button>
            </li>
        </template>

        <template id="max-upload-size-warning-template" style="display: none;">
            <div class="max-upload-size-warning">
                {{ t.get("index/max-upload-size-warning") }}
            </div>
        </template>

        <template id="uploaded-list-item-template" style="display: none;">
            <li>
                <span class="uploaded-list-item-failed-indicator" hidden>
                    <span class="hidden">(</span>
                    {{ t.get("index/failed") }}
                    <span class="hidden">)</span>
                </span>
                <button class="uploaded-list-item-copy-url" onclick="copyUploadURL(this)">
                    {{ t.get("index/copy-url") }}
                </button>
                <a class="flex-no-expand" target="_blank">
                    <span class="uploaded-list-item-file-name"></span>
                    <span class="uploaded-list-item-other-files">
                        {{ t.get("index/more-files") }}
                    </span>
                </a>
                <button class="uploaded-list-item-remove" onclick="removeUploadedListEntry(this)">
                    <span class="hidden">{{ t.get("index/remove") }} </span><span aria-hidden="true">×</span>
                </button>
                <progress value="0" max="100"></progress>
            </li>
        </template>


        <script type="module" src="js/transpo/upload.js"></script>

        <script src="js/size_string.js"></script>
        <script src="js/files.js"></script>
        <script src="js/upload.js"></script>
        <script src="js/translations.js"></script>

        <script>
            maxUploadSize = {{ max_upload_size }};
        </script>
    </body>
</html>
