<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/custom/styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ app_name }}</title>
    </head>
    <body>
        <div id="header">
            <h1 id="title">{{ app_name }}</h1>
            <a href="about">About<span class="hidden"> {{ app_name }}</span></a>
        </div>
        <div id="transpo-main" class="ui-frame">
            <form id="upload-form" class="flex-column" action="upload" method="post" enctype="multipart/form-data" autocomplete="off">
                <noscript>
                    <div class="nojs-warning flex-row">
                        <span class="flex-no-expand small-text">
                            <b>JavaScript is not available in your browser.</b>
                            This means encryption will be handled by the server
                            instead of in your browser. The key required to
                            decrypt your upload will only be stored on the
                            server during the encryption process, but be aware
                            that this is <b>less secure</b> than encrypting your
                            upload inside your browser which requires
                            JavaScript.
                        </span>
                    </div>

                    <div class="hidden" aria-hidden="true">
                        <hr/>
                        <b>IGNORE THIS -></b>
                        <input name="server-side-processing" id="server-side-processing-input" type="checkbox" checked/>
                        <i>
                            This checkbox indicates to the server whether or not the
                            it will be expected to encrypt + compress uploads. If you
                            are seeing this in your browser right now, please <b>don't</b>
                            change the value of this checkbox
                        </i>
                        <hr/>
                    </div>
                </noscript>

                <div id="file-area" class="flex-column">
                    <noscript>
                        <span>
                            <input name="enable-multiple-files" id="enable-multiple-files-input" type="checkbox"/>
                            <label for="enable-multiple-files-input">Enable uploading multiple files</label>
                        </span>
                    </noscript>

                    <div class="flex-row">
                        <h2>Select Files</h2>
                        <input name="files" id="file-input" type="file" multiple/>
                    </div>

                    <div id="file-list-container" style="display: none;">
                        <ul id="file-list"></ul>
                    </div>

                    <div id="file-area-footer" class="flex-row" style="visibility: hidden; display: none;">
                        <span>
                            Upload size:
                            <output id="upload-size-output"></output>
                        </span>
                        <button type="button" id="clear-files-button">
                            Remove all <span class="hidden">files</span>
                        </button>
                    </div>
                </div>

                <h2>Upload Settings</h2>

                <fieldset id="time-limit-fields">
                    <legend>
                        Expire after:
                    </legend>
                    <div>
                        <label for="days-input">Days:</label>
                        <input name="days" id="days-input" type="number" size="5" value="0" min="0" max="{{ max_days }}"/>
                    </div>
                    <div>
                        <label for="hours-input">Hours:</label>
                        <input name="hours" id="hours-input" type="number" size="4" value="0" min="0" max="{{ max_hours }}"/>
                    </div>
                    <div>
                        <label for="minutes-input">Minutes:</label>
                        <input name="minutes" id="minutes-input" type="number" size="4" value="30" min="0" max="{{ max_minutes }}"/>
                    </div>
                </fieldset>

                <hr/>

                <fieldset class="togglable-field">
                    <legend class="hidden">Download limit settings</legend>
                    <input name="enable-max-downloads" id="enable-max-downloads-input" type="checkbox"/>
                    <label for="enable-max-downloads-input">
                        Enable download limit
                    </label>
                    <div>
                        <label for="max-downloads">Expire after:</label>
                        <input name="max-downloads" id="max-downloads-input" type="number" size="5" value="1" min="1"/>
                        <span>downloads</span>
                    </div>
                </fieldset>

                <hr/>

                <fieldset class="togglable-field">
                    <legend class="hidden">Password protection settings</legend>
                    <input name="enable-password" id="enable-password-input" type="checkbox">
                    <label for="enable-password-input">
                        Enable password protection
                    </label>
                    <div>
                        <label for="password-input">Password:</label>
                        <input name="password" id="password-input" type="text"/>
                    </div>
                </fieldset>

                <hr/>

                <button id="upload-button">Upload</button>
                <progress id="upload-progress" value="0"></progress>
            </form>

            <div id="uploaded-area" style="display: none">
                <h2>Your Uploads</h2>
                <div id="uploaded-list-container">
                    <ul id="uploaded-list"></ul>
                </div>
            </div>
        </div>


        <template id="file-list-item-template" style="display: none">
            <li data-index="">
                <span class="hidden">File name:</span>
                <span class="file-list-item-name flex-no-expand"></span>
                <span class="hidden">, File size:</span>
                <span class="file-list-item-size"></span>
                <button type="button" class="file-list-item-remove">
                    <span class="hidden">Remove file </span>×
                </button>
            </li>
        </template>

        <template id="max-upload-size-warning-template" style="display: none">
            <div class="max-upload-size-warning">
                <b>&#x26A0;&#xFE0E; Warning:</b> the maximum upload size is <output></output> !
            </div>
        </template>

        <template id="uploaded-list-item-template" style="display: none">
            <li>
                <button class="uploaded-list-item-copy-url" onclick="copyUploadURL(this)">
                    Copy URL
                </button>
                <a class="flex-no-expand">
                    <span class="uploaded-list-item-file-name"></span>
                    <span class="uploaded-list-item-other-files">
                        + <output></output> more
                    </span>
                </a>
                <button class="uploaded-list-item-remove" onclick="removeUploadedListEntry(this)">
                    <span class="hidden">Remove URL </span>×
                </button>
            </li>
        </template>


        <script src="js/size_string.js"></script>
        <script src="js/files.js"></script>
        <script src="js/transpo/upload.js"></script>
        <script src="js/transpo/crypto.js"></script>

        <script>
            window.addEventListener("pageshow", () => {
                maxUploadSize = {{ max_upload_size }};
                document.querySelector("BODY").style.width = "min(800px, 100% - 10px)";
                document.getElementById("file-list-container").style.display = "";
                document.getElementById("file-area-footer").style.display = "";
                document.getElementById("uploaded-area").style.display = "";
            });
        </script>
    </body>
</html>
