<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>{{ app_name }} | {{ t.get("upload_link/title") }}</title>
    </head>
    <body style="width: 500px">
        <header id="header">
            <h1 id="title">{{ t.get("upload_link/title") }}</h1>
            <a href="../">{{ t.get("main_page") }}</a>
        </header>
        <div class="ui-frame flex-column">
            <a href="{{ upload_url }}" target="_blank" class="upload-link"/>
                {{ t.get("upload_link/link") }}
            </a>
        </div>
    </body>
</html>
