<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="css/layout.css"/>
        <link rel="stylesheet" href="css/custom/layout.css"/>

        <link rel="stylesheet" href="css/colours.css"/>
        <link rel="stylesheet" href="css/custom/colours.css"/>

        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/custom/styles.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ app_name }} | {{ t.get("upload_link/title") }}</title>
    </head>
    <body>
        <header id="header">
            <h1 id="title">{{ t.get("upload_link/title") }}</h1>
            <a href="../">{{ t.get("main_page") }}</a>
        </header>
        <div class="ui-frame flex-column">
            <a href="{{ upload_url }}" target="_blank" class="upload-link"/>
                {{ t.get("upload_link/link") }}
            </a>
        </div>
    </body>
</html>
