:root {
    /* Main colours */
    --accent-bg: #2171bf;
    --accent-fg: white;
    --accent-border: #133366;

    --link-fg: #306cd7;

    --area-bg: aliceblue;
    --area-border: steelblue;

    --base-bg: white;
    --base-fg: #0a173e;
    --base-fg-faint: #99a6bb;

    --error-bg: crimson;
    --error-fg: white;

    --remove-button-fg: crimson;
    --remove-button-bg: white;

    --warning-bg: #ffd557;
    --warning-fg: black;
    --warning-border: goldenrod;

    /* Specific colours */
    --shadow: rgba(0, 0, 0, 0.1);
    --page-bg: var(--base-bg);
    --text-fg: var(--base-fg);

    --file-area-bg: var(--area-bg);
    --file-area-border: var(--area-border);

    --uploaded-area-bg: var(--area-bg);
    --uploaded-area-border: var(--area-border);

    --ui-bg: var(--base-bg);
    --ui-border: var(--base-fg-faint);

    --file-button-bg: var(--accent-bg);
    --file-button-fg: var(--accent-fg);
    --file-button-border: var(--accent-border);

    --upload-button-bg: var(--accent-bg);
    --upload-button-fg: var(--accent-fg);
    --upload-button-border: var(--accent-border);

    --download-button-bg: var(--accent-bg);
    --download-button-fg: var(--accent-fg);
    --download-button-border: var(--accent-border);

    --progress-bar-bg: transparent;
    --progress-bar-fg: var(--area-border);
    --progress-bar-border: var(--area-border);

    --upload-url-fg: #258df2;
    --upload-failed-fg: var(--error-fg);
    --upload-failed-bg: var(--error-bg);

    --copy-url-button-bg: var(--accent-bg);
    --copy-url-button-fg: var(--accent-fg);
    --copy-url-button-border: var(--accent-border);

    --header-link-fg: var(--link-fg);
    --footer-link-fg: var(--link-fg);
    --upload-link-fg: var(--link-fg);

    --checkbox-color: var(--accent-bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --shadow: black;

        --accent-border: #030d22;

        --link-fg: #98d0ff;
        --upload-url-fg: var(--link-fg);

        --base-bg: var(--accent-border);
        --base-fg: aliceblue;
        --base-fg-faint: black;

        --ui-bg: #1f2d48;

        --area-bg: #354564;

        --remove-button-fg: #fb5274;
        --remove-button-bg: transparent;

        --progress-bar-fg: var(--link-fg);
        --progress-bar-border: var(--link-fg);

        --area-border: var(--accent-border);
    }
}
