h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 14pt;
}

* {
    font-family: sans-serif;
}

.hidden {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0%;
    position: absolute;
    pointer-events: none;
    color: transparent;
    left: -100000px;
}

.flex-no-expand {
    width: 0;
    flex-grow: 1;
}

.small-text {
    font-size: 10pt;
}

.flex-spacer {
    flex-grow: 1;
}

body {
    width: 500px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -moz-min-content;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: auto;
}

header#header {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

header#header > a {
    margin-left: 5px;
}

h1#title {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
}

form#language-select-form {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: center;
    gap: 5px;
    float: right;
}

div.ui-frame {
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

div#transpo-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

form#upload-form {
    flex-grow: 3;
}

div.nojs-warning {
    padding: 5px;
}

div#file-area {
    justify-content: center;
    padding: 5px;
}

input#file-input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    width: 0;
}

div#file-list-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 300px;
    direction: rtl;
}

ul#file-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    direction: ltr;
}

ul#file-list > li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

ul#file-list > li > span.file-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

div#file-area > div.max-upload-size-warning {
    text-align: center;
}


fieldset {
    border: none;
    padding: 5px 0;
}

fieldset#time-limit-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

fieldset#time-limit-fields > legend {
    word-spacing: initial;
}

fieldset#time-limit-fields > div {
    display: inline-block;
}

hr {
    width: 100%;
    margin: 0;
}

fieldset.togglable-input {
    overflow: hidden;
}

fieldset.togglable-field > label {
    user-select: none;
}

fieldset.togglable-field input[type="checkbox"] {
    margin-left: 0;
}

fieldset.togglable-field div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 0;
    margin-top: 0;
    visibility: hidden;
    opacity: 0%;
    transition: all 0.1s;
}

fieldset.togglable-field input:checked ~ div {
    height: 30px;
    margin-top: 5px;
    visibility: visible;
    opacity: 100%;
}

input[type="text"] {
    flex-grow: 1;
}

input[type="number"] {
    width: 50px;
}

input[type="number"]#days-input {
    width: 60px;
}


button#upload-button, button#download-button {
    width: 100%;
}


div#uploaded-area {
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 300px;
    padding: 5px;
    flex-grow: 1;
}

div#uploaded-list-container {
    direction: rtl;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    flex-grow: 1;
    height: 0;
}

ul#uploaded-list {
    direction: ltr;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul#uploaded-list > li {
    height: 35px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

ul#uploaded-list > li > a {
    display: flex;
    gap: 5px;
    white-space: nowrap;
}

ul#uploaded-list > li > a > span.uploaded-list-item-file-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul#uploaded-list > li.failed > button.uploaded-list-item-copy-url {
    display: none;
}

ul#uploaded-list > li > progress {
    width: calc(100% - 2px);
    height: 4px;
    margin-left: -100%;
    position: relative;
    bottom: -15px;
    appearance: none;
    transition: all 0.2s;
}

ul#uploaded-list > li.failed > progress {
    opacity: 0%;
}

ul#uploaded-list > li.completed > progress {
    opacity: 0%;
}

footer {
    z-index: -1;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}


.throbber::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 18px;
    margin-top: -20px;
    position: relative;
}
