body {
    color: var(--text-fg);
    background: var(--page-bg);
}

h1#title::before {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("../res/pigeon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 80%;
    content: "";
    z-index: -1;
    margin-left: -220px;
    margin-top: 20px;
}

div#header > a {
    color: var(--header-link-fg);
}

a.upload-link {
    font-weight: bold;
    color: var(--upload-link-fg);
}

div.ui-frame {
    box-shadow: 0 2px 5px var(--shadow);
    background: var(--ui-bg);
}

div.ui-frame, div#file-area, div#uploaded-area,
.nojs-warning, div.max-upload-size-warning {
    border: 1px solid;
    border-radius: 5px;
}

div#file-area {
    border-color: var(--file-area-border);
    background-color: var(--file-area-bg);
}

div#uploaded-area {
    border-color: var(--uploaded-area-border);
    background-color: var(--uploaded-area-bg);
}

hr {
    border: none;
    margin: auto;
    border-bottom: 1px dashed;
}

button:hover, input::file-selector-button:hover {
    filter: brightness(1.15);
}

button:disabled {
    opacity: 70%;
}

button#upload-button, button#download-button {
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s;
    height: 30px;
}

button#upload-button {
    margin-top: 3px;

    background-color: var(--upload-button-bg);
    color: var(--upload-button-fg);
    border-color: var(--upload-button-border);
}

button#download-button {
    background-color: var(--download-button-bg);
    color: var(--download-button-fg);
    border-color: var(--download-button-border);
}

button#upload-button:hover, button#download-button:hover {
    transform: scale(1.02);
}

button#upload-button:active, button#download-button:active {
    transform: translateY(1px) scale(1);
}

button.file-list-item-remove, button.uploaded-list-item-remove {
    height: 15px;
    width: 15px;
    line-height: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

input#file-input::file-selector-button {
    background-color: var(--file-button-bg);
    color: var(--file-button-fg);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

input::file-selector-button, button.uploaded-list-item-copy-url,
button.file-list-item-remove, button.uploaded-list-item-remove,
button#clear-files-button {
    transition: all 0.1s;
}

input::file-selector-button:active, button.uploaded-list-item-copy-url:active,
button.file-list-item-remove:active, button.uploaded-list-item-remove:active,
button#clear-files-button:active {
    transform: scale(0.9);
}


span.file-list-item-size, output#upload-size-output {
    font-size: large;
    font-family: monospace;
}

button#clear-files-button {
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

button.file-list-item-remove, button.uploaded-list-item-remove, button#clear-files-button {
    color: var(--remove-button-fg);
    background-color: var(--remove-button-bg);
}

div#file-area > div.max-upload-size-warning, div.nojs-warning {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
    border-color: var(--warning-border);
}

button.uploaded-list-item-copy-url {
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    margin-right: 2px;
    background-color: var(--copy-url-button-bg);
    color: var(--copy-url-button-fg);
    border: none;
    border-radius: 5px;
}

ul#uploaded-list > li {
    animation: fade-in 0.2s linear 1, slide-up 0.2s ease-out 1;
}

ul#uploaded-list > li > a {
    font-weight: bold;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    color: var(--upload-url-fg);
}

ul#uploaded-list > li.failed > a::before {
    color: var(--upload-failed-fg);
    background-color: var(--upload-failed-bg);
    text-decoration: underline var(--upload-failed-bg); 
    border-radius: 5px;
    padding: 0 2px;
}

ul#uploaded-list > li > progress {
    border-color: var(--progress-bar-border);
    border-radius: 5px;
}

progress::-webkit-progress-bar, progress {
    background-color: var(--progress-bar-bg);
}

progress::-webkit-progress-value, progress::-moz-progress-bar {
    background-color: var(--progress-bar-fg);
}

.throbber::before {
    background-image: url("../res/throbber.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 1s linear infinite, fade-in 0.5s linear 1;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0%, 25% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}
