body {
    color: var(--text-fg);
    background: var(--page-bg);
}

dialog {
    color: var(--text-fg);
}

h1#title::before {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("../res/pigeon_optimized.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    opacity: 80%;
    content: "";
    z-index: -1;
    margin-left: -200px;
    margin-top: 20px;
}

header#header {
    transition: padding 0.3s;
}

header#header > a {
    color: #306cd7;
    color: var(--header-link-fg);
}

form#language-select-form::before {
    content: "🌐";
}

form#language-select-form select {
    background-color: var(--ui-bg);
    border: 1px solid var(--ui-border);
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--text-fg);
}

a.upload-link {
    font-weight: bold;
    color: #306cd7;
    color: var(--upload-link-fg);
}

.ui-frame, div#file-area, div#uploaded-area,
.nojs-warning, div.max-upload-size-warning {
    border: 1px solid;
    border-radius: 5px;
}

.ui-frame {
    box-shadow: 0 2px 5px var(--shadow);
    border-color: var(--ui-border);
    background: var(--ui-bg);
    border-radius: 8px;
    transition: border-radius 0.3s;
}

div#file-area {
    border-color: var(--file-area-border);
    background-color: var(--file-area-bg);
}

div#uploaded-area {
    border-color: var(--uploaded-area-border);
    background-color: var(--uploaded-area-bg);
}

hr {
    border: none;
    margin: auto;
    border-bottom: 1px dashed var(--ui-border);
    opacity: 50%;
}

fieldset input[type="checkbox"] {
    accent-color: var(--checkbox-color);
}

button:hover, input::file-selector-button:hover {
    filter: brightness(1.15);
}

button:disabled {
    opacity: 70%;
}

button#upload-button, button#download-button {
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s;
    height: 30px;
}

button#upload-button {
    margin-top: 3px;

    background-color: #2171b6;
    background-color: var(--upload-button-bg);
    color: white;
    color: var(--upload-button-fg);
    border-color: var(--upload-button-border);
}

button#download-button {
    background-color: #2171b6;
    background-color: var(--download-button-bg);
    color: white;
    color: var(--download-button-fg);
    border-color: var(--download-button-border);
}

button#upload-button:hover, button#download-button:hover {
    transform: scale(1.01, 1.06);
}

button#upload-button:active, button#download-button:active {
    transform: translateY(2px) scale(1);
}

button.file-list-item-remove, button.uploaded-list-item-remove {
    height: 15px;
    width: 15px;
    line-height: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

input#file-input::file-selector-button {
    background-color: var(--file-button-bg);
    color: var(--file-button-fg);
    border: 1px solid var(--file-button-border);
    font-weight: bold;
    border-radius: 5px;
}

ul#file-list > li.new {
    animation: fade-in 0.2s linear 1, slide-up 0.2s ease-out 1;
}

input::file-selector-button, button.uploaded-list-item-copy-url,
button.file-list-item-remove, button.uploaded-list-item-remove,
button#clear-files-button {
    transition: all 0.1s;
}

input::file-selector-button:active, button.uploaded-list-item-copy-url:active,
button.file-list-item-remove:active, button.uploaded-list-item-remove:active,
button#clear-files-button:active {
    transform: scale(0.9);
}


span.file-list-item-size, output#upload-size-output {
    font-size: large;
    font-family: monospace;
}

button#clear-files-button {
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

button.file-list-item-remove, button.uploaded-list-item-remove, button#clear-files-button {
    color: var(--remove-button-fg);
    background-color: var(--remove-button-bg);
}

div#file-area > div.max-upload-size-warning, div.nojs-warning {
    background-color: #ffd557;
    background-color: var(--warning-bg);
    color: var(--warning-fg);
    border-color: var(--warning-border);
}

legend {
    padding: 0;
}

button.uploaded-list-item-copy-url, button.uploaded-list-item-failed-button {
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    border: unset;
    border-radius: 5px;
    min-width: 51px;
    text-align: center;
}

button.uploaded-list-item-copy-url {
    line-height: 18px;
    background-color: var(--copy-url-button-bg);
    color: var(--copy-url-button-fg);
    border: 1px solid var(--copy-url-button-border);
}

button.uploaded-list-item-failed-button {
    line-height: 20px;
    color: var(--upload-failed-fg);
    background-color: var(--upload-failed-bg);
    cursor: help;
}

ul#uploaded-list > li {
    animation: fade-in 0.2s linear 1, slide-up 0.2s ease-out 1;
}

li.missing-data > a, li.missing-data > button.uploaded-list-item-copy-url {
    pointer-events: none;
}

ul#uploaded-list > li > a {
    font-weight: bold;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    color: var(--upload-url-fg);
}

ul#uploaded-list > li.failed > a {
    color: var(--text-fg);
    pointer-events: none;
}

ul#uploaded-list > li > progress {
    -webkit-appearance: none;
    border: 1px solid var(--progress-bar-border);
    border-radius: 2px;
    animation: fade-in 0.5s backwards;
    animation-delay: 0.5s;
}

ul#uploaded-list > li.failed > progress, ul#uploaded-list > li.completed > progress {
    animation: none;
    opacity: 0%;
}

progress::-webkit-progress-bar, progress {
    background-color: var(--progress-bar-bg);
}

progress::-moz-progress-bar {
    background-color: var(--progress-bar-fg);
}

progress::-webkit-progress-value {
    background-color: var(--progress-bar-fg);
}

textarea {
    font-family: monospace;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    color: var(--text-fg);
}

div#about {
    line-height: 1.5;
}

footer {
    text-align: center;
}

footer a {
    color: var(--footer-link-fg);
}

.throbber::before {
    background-image: url("../res/throbber.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 1s linear infinite, fade-in 0.5s linear 1;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0%, 25% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    div.ui-frame {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    header#header {
        padding: 0 8px;
    }
}
