h1, h2, h3 {
    margin: 0;
}

* {
    font-family: sans-serif;
}

body {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin: auto;
}


h1#transpo-logo {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
}


div#transpo-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    border: 1px solid;
}


form#upload-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


div#file-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: aliceblue;
}

div#file-area > input#file-input {
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

div#file-area > ul#file-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
}

div#file-area > ul#file-list > li {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div#file-area > ul#file-list > li > span.file-list-item-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0;
    white-space: nowrap;
}

div#file-area > div#file-area-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#file-area > div.max-upload-size-warning {
    text-align: center;
    background: #ffcb00;
}


fieldset#time-limit-fields {
    word-spacing: 2px;
    text-align: center;
}

fieldset#time-limit-fields > legend {
    word-spacing: initial;
}

fieldset#time-limit-fields > div {
    display: inline-block;
}

fieldset#time-limit-fields input[type="number"] {
    max-width: 8ch;
}


hr {
    width: 90%;
}


fieldset.togglable-input {
    overflow: hidden;
}

fieldset.togglable-field div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 0;
    margin-top: 0;
    visibility: hidden;
    opacity: 0%;
    transition: all 0.1s;
}

fieldset.togglable-field div input#password-input {
    flex-grow: 1;
}

fieldset.togglable-field input:checked ~ div {
    height: 1.5em;
    margin-top: 5px;
    visibility: visible;
    opacity: 100%;
}


div#uploaded-area {
    width: 230px;
    padding: 5px;
    background-color: aliceblue;
    flex-grow: 1;
}
